.business_item_box {
  padding: 10px;
  margin-left:20px;
  margin-right: 20px;
}
.name_box {
  color: #02599a;
  background-color: whitesmoke;
  width: 960px;
  margin: 0 auto;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}
.name_box h1 {
  font-weight: bold;
  font-size: 40px;
  padding-bottom: 10px;
}
.name_display {
  margin-left: 20px;
}

.rating_display {
  margin-right: 50px;
}
.review_details {
  padding-bottom: 15px;
}
.review_button {
  background-color: $regular;
  cursor: pointer;
  border-radius: 3px;

}
.review_button:hover {
 background-color: #00e5ff;
}
.item_box{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
.add_box {
    padding: 10px;
    background: #fff;
    border: 1px solid #ccc;
    height: 370px;
    width: 300px;
    /* text-align: center; */
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    text-align: right;
}
.business_address {
  padding: 10px;
  background-color: whitesmoke;
}
.logo_image {
  height: 14px;
  width: 15px;
}
.map_item_box {
  height: 250px;
  border: 1px solid whitesmoke;
}
.image_index_box {
  padding-top: 20px;

  cursor: pointer;
  margin-top: 20px;
  margin-left: 20px;

}
.img_index_box {
  object-fit: cover;
  height: 200px;
  width: 200px;
  // transform: translateZ(0) rotate(0);
  transition: all .2s ease-in-out;

}

.img_index_box:hover {
  object-fit: contain;
  height: 300px;
  width: 300px;
  // transform-origin: bottom;
  transform: scale(1.1);
}

.extra_info_box {
  width: 960px;
  margin: 0 auto;
  padding: 0 25px;
}

.more_info_box {
  margin-top: 118px;
  padding: 20px;
}

.h1_display {
  color: #02599a;
}

.more_info_bold {
  font-weight: bold;
  text-transform: capitalize;
  color: $regular;
}
.info_display {
  text-decoration: none;
}

.business_outer_map {
  height: 100%;
  width: 100%;
}

#map_business_holder {
  height: 100%;
  width: 100%;
}
