.index_container {
  // display: flex;
  // justify-content: space-between;
  padding-top: 20px;
  border: 0px;
}
.caption {
  font-weight: bold;
  color: $heading;
}
.index_list_container {
  padding: 10px;
  display: flex;
  justify-content: space-between;

}

.list_index_box {
  padding:10px;
  box-sizing: border-box;
  width: 55%;
  // > ul > li  {
  //   background-color: red;
  // }

}
.map_container {
  height: 400px;
  width: 40%;
  border:1px solid whitesmoke;
  // position: fixed;
  padding: 10 px;
  margin-top: 100px;
}
.list_index {
  margin-top: 20px;
  margin-left:20px;
  display: flex;
  justify-content:space-between;
  min-height: 120px;
  border: 1px solid whitesmoke;
  // padding:20px;
  background-color: whitesmoke;
}

.title_data{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.image_box {
  border-radius: 3px;
  vertical-align: middle;
  height: 100px;
  width: 100px;
  object-fit: contain;

}


.title_box a {
  text-decoration: none;
  font-family: 'Chewy';
}

.address_box {
  box-sizing: border-box;
  padding: 10px;
  padding-right: 20px;

}
