.filter_div {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Cabin";
    font-size: 18px;
}

.filter_item:hover {
  background-color:grey;
  border: 1px solid grey;
  border-radius: 5px;
}
.filter_item {
  cursor: pointer;
  padding-left: 10px;
  padding-right: 10px;


}
