.filter_display {
  display: flex;
  justify-content: space-between;
}

.filter_list {
  text-decoration: none;
  padding-top: 5px;
  padding-right: 5px;
}

.filter_tags {
  display: flex;
  justify-content: space-between;

}
