header {
 /*margin-left: 5%;*/
 padding: 10px;
 background-color: $regular;
}

footer {
  padding: 10px;
  background-color: $regular;
}
.nav_bar {
  display: flex;
  justify-content: space-around;
  align-items: center;

}
.filter_contents {

}
.header_font {
  font-family: 'Pacifico';
}
.header-name {
 margin: 7px 0 0 0;
 padding-bottom: 5px;
}

.header-favorites {
 margin: 4px 0 4px 0;
 font-size: 14px;
}

.header-login-signup {
  font-family: 'Trirong';
}

.header-image {
 height: 20px;
 width: 20px;
 background-color: #00ceff;
 color: transparent;
}
.header-image:hover {
 opacity: 0.5;
}


.header-link {
 text-decoration: none;
 color: black;
}

.log_out_button:hover {
 background-color: #dedbdb;
}
.log_out_button {
 background-color: white;
 color: black;
 display: inline-block;
 vertical-align: middle;
 margin: 0;
 cursor: pointer;
 border: 1px solid;
 font-weight: bold;
 text-align: center;
 padding: 4px 14px 4px;
 border-radius: 3px;


}
