.review_box {
  padding-bottom: 20px;
  padding-top: 10px;
  // display: flex;
  // justify-content:space-around;
  // width: 67%;
  margin: 0px;


}
.review_item {
  display:flex;
  background-color: whitesmoke;
}
.reviewername_box {
  float: left;
  padding: 10px;
  box-sizing: border-box;
  width: 30%;
  color: $heading;
  padding-left: 50px;
}

.review_contents {
  float: right;
  padding: 10px;
  box-sizing: border-box;
  width: 67%;
  padding-left: 40px;
}

.rating_des {
  padding-bottom: 3px;
}

.rating_star {
  padding:0px;
}

.des_box {
  padding-bottom: 5px;
}

.star_box {

}
.rating_review_star {
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
  
}
