.write_review {
  background-color: #00ceff;
  cursor: pointer;
  border-radius: 3px;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.write_review:hover {
 background-color: #00e5ff;
}

.review_buttons {
  padding: 5px;

}
